/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.padTop113px{
  padding-top: 113px;
 }
.padTop186px{
  padding-top: 186px;
 }
.padToZero {
  padding-top: 0px;
  padding-bottom: 0px;
}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.my-border {
  border: medium double rgb(250, 0, 255)
}

.div2 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 10px solid red;
}

#chart1, #chart2, #chart3 {
  width: 270px;
  float: left;
}

.frequency-box {
  width: 55em;
  margin-right: 17em;
}

.week {
  margin-left: -110px;
}

.passFail-align {
  margin-left: 25em;
  margin-top: -17em;
}

.tableAlign {
  margin-left: 28em;
  margin-top: 1em;
}

.word-align {
  margin-left: 25em;
  margin-top: 2em;
  font-size: 19px;
}

.marginLeft10em {
  margin-left: 10em;
}

.marginLeft5em {
  margin-left: 5em;
}

.lintDeco {
  margin-left: 5em;
  font-size: 30px;
}

.marginLeft10minus {
  margin-left: -10em;
}

.marginLeft1em {
  margin-left: 1em;
}

.marginLeft35px {
  margin-left: 35px;
}
.marginLeft32em {
  margin-left: 32em;
}

.width47em {
  width: 45em;
}

.width60em {
  width: 60em;
}

body {
  color: white;
}

svg text {
  fill: white;
}

.paddingTop13 {
  padding-top: 13em;
}

.paddingTop20 {
  padding-top: 20em;
}

.paddingTop15 {
  padding-top: 15em;
}

.paddingTop16 {
  padding-top: 15em;
}

.reliable-word {
  padding-top: 10em;
  margin-left: 2em;
  font-size: 19px;
}

.paddingTopSec123px {
  padding-top: 123px;
}

.paddingTop14 {
  padding-top: 14em;
}

.paddingBottom10 {
  padding-bottom: 10em;
}

.marginLeft7em {
  margin-left: 7em;
}

.marginLeft8emcis {
  margin-left: -8em;
}

.marginLeft15 {
  margin-left: 15px;
}

.marginLeft12em {
  margin-left: 12em;
}

.marginLeft15em {
  margin-left: 15em;
}

.marginLeft8em {
  margin-left: 8em;
}

.marginLeft2em {
  margin-left: 2em;
}

.marginLeft20em {
  margin-left: 20em;
}

.marginLeft4em {
  margin-left: 4em;
}

.marginRight8em {
  margin-right: 8em;
}

.marginRight1em {
  margin-right: 1em;
}

.marginTop15em {
  margin-top: 15em;
}

.marginTop15 {
  margin-top: 15px;
}

.marginBottom15 {
  margin-bottom: 15px;
}

.square-box-big {
  float: left;
  position: relative;
  width: 14em;
  padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
  margin-right: 1.66%;
  margin-left: 1em;
  margin-top: 30px;
  margin-bottom: 1.66%;
  overflow: hidden;
  padding-bottom: 8em; /* = width for a square aspect ratio */
}

.square-box-small {
  float: left;
  position: relative;
  width: 8em;
  /*padding-bottom: 15%; !* = width for a 1:1 aspect ratio *!*/
  margin-right: 1.01%;
  margin-left: 1em;
  margin-top: 6em;
  margin-bottom: 1.01%;
  overflow: hidden;
  padding-bottom: 4em; /* = width for a square aspect ratio */
}

.btn-squared-default {
  width: 150px !important;
  height: 170px !important;
  font-size: 15px;
}

.square-position {
  margin-left: 70em;
  margin-top: -17em;
}

.content {
  position: absolute;
  height: 7em; /* = 100% - 2*10% padding */
  width: 75%; /* = 100% - 2*5% padding */
  padding: 10% 5%;
}

.padTop142 {
  padding-top: 142px;
}

.freq-align {
  width: 94em;
  margin-left: 1em;
  padding-top: 10em;
}

.testing-align {
  width: 85em;
  margin-left: 50em;
  border: solid;
  padding-top: 149px;
}

.marginTop {
  margin-top: 1px;
}

.security-box {
  width: 60em;
  margin-right: 1em;
  margin-top: 2em;
}

.quality-box {
  width: 60em;
  margin-right: 1em;
  margin-top: 2em;
}

.freq-box {
  width: 45em;
  margin-right: 1em;
  margin-top: 2em;
}

.security-box-align {
  width: 60em;
  margin-right: 1em;
  margin-top: 2em;
}

.testing-box {
  width: 45em;
  margin-right: 1em;
  margin-top: 2em;
}

.quality-wlint {
  padding-top: 10em;
  margin-left: 1em;
  font-size: 19px;
}

.containerChart {
  width: 25em;
  margin-top: -12em;
  margin-left: 29em;

}