/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.my-border
{
  border: medium double rgb(250,0,255)
}
.div2 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 10px solid red;
}
#chart1, #chart2, #chart3 {
  width : 213px;
  float: left;
}
.week{
  margin-left: -110px;
}

.marginLeft35{
  margin-left: 35px;
}
.marginLeft15{
  margin-left: 15px;
}
.marginTop15{
  margin-top: 1emx;
}
.marginTop15{
  margin-top: 15px;
}
.marginBottom15{
  margin-bottom: 15px;
}

.square-box{
  position: relative;
  width: 50%;
  overflow: hidden;
  background: #4679BD;
}
.square-box:before{
  content: "";
  display: block;
  padding-top: 100%;
}
.square-content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
}
.square-content div {
  display: table;
  width: 100%;
  height: 100%;
}
.square-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white
}