/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.my-border
{
  border: medium double rgb(250,0,255)
}
.div2 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 10px solid red;
}
#chart1, #chart2, #chart3 {
  width : 213px;
  float: left;
}

.marginLeft35{
  margin-left: 35px;
}
.marginLeft15{
  margin-left: 15px;
}
.marginTop15{
  margin-top: 1emx;
}
.marginTop15{
  margin-top: 15px;
}
.marginBottom15{
  margin-bottom: 15px;
}